<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842329593125-3llqfcpdu5a7djrqea5v89behvsd2dcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842329593125-3llqfcpdu5a7djrqea5v89behvsd2dcg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>842329593125-8gikoov4qmt9tpoqdufeg4hpv39igesc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZmNubnWtehcM84vb2fsv2c0n98DlgeF0</string>
	<key>GCM_SENDER_ID</key>
	<string>842329593125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newsfeed.app</string>
	<key>PROJECT_ID</key>
	<string>newsfeed-ae077</string>
	<key>STORAGE_BUCKET</key>
	<string>newsfeed-ae077.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842329593125:ios:714b15c19769fded2536cc</string>
</dict>
</plist>